html{
    font-family: Verdana;
    background-color: black;
}

header{
    font-size: 50px;
    color: white;
    text-align: center;
}


header a {
    font-size: 16px;
    color: aquamarine;
}


.videoclass video{
    display: flex;
    margin: auto;
}