html{
    font-family: Verdana;
    background-color: black;
}

header{
    font-size: 50px;
    color: white;
    text-align: center;
}


header a {
    font-size: 16px;
    color: aquamarine;
}


.videoclass video{
    display: flex;
    margin: auto;
}

.prvi{
    text-align: center;
    color: white;
    font-weight: 300px;
    font-size: 42px;
}

#drugi{
    text-align: center;
    color: gray;
    font-size: 21px;
}

.travel-guide img{
    display: flex;
    margin: auto;
}

.logo{
    text-align: center;
}


.logo img{
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.logo a{
    font-size: 16px;
    color: aquamarine
}

.trademark{
    text-align: right;
    color: gray;
    margin-top: 50px;
}